---
title: Stochastic Positional Encoding
description: 'Relative positional encoding for Transformers with linear complexity'
---

<h1>CIFAR10 attention visualization</h1>

Below we display attention weights for 3 different heads. Hover over the image to see attention patterns for different positions.

{% assign img_size = 192 %}
{% assign images = "0-0 0-1 0-2 1-0 1-1 1-2" | split: " " %}

<h2>Linear Transformer-ReLU, APE</h2>

{% for image in images %}
<div style="width: {{ img_size }}px; height: {{ img_size }}px; overflow: hidden; display: inline-block; margin: 5px; cursor: crosshair;" class="img-attn-visualizer">
  <img src="{{ "/assets/img/plots/attn_cifar10/linear_transformer_relu/" | relative_url }}{{ image }}.png" height="{{ img_size }}" style="image-rendering: pixelated; max-width: none;">
</div>
{% endfor %}

<h2>Linear Transformer-ReLU, SineSPE</h2>

{% for image in images %}
<div style="width: {{ img_size }}px; height: {{ img_size }}px; overflow: hidden; display: inline-block; margin: 5px; cursor: crosshair;" class="img-attn-visualizer">
  <img src="{{ "/assets/img/plots/attn_cifar10/linear_transformer_relu_sinespe/" | relative_url }}{{ image }}.png" height="{{ img_size }}" style="image-rendering: pixelated; max-width: none;">
</div>
{% endfor %}

<h2>Linear Transformer-ReLU, ConvSPE</h2>

{% for image in images %}
<div style="width: {{ img_size }}px; height: {{ img_size }}px; overflow: hidden; display: inline-block; margin: 5px; cursor: crosshair;" class="img-attn-visualizer">
  <img src="{{ "/assets/img/plots/attn_cifar10/linear_transformer_relu_convspe_k128_shr/" | relative_url }}{{ image }}.png" height="{{ img_size }}" style="image-rendering: pixelated; max-width: none;">
</div>
{% endfor %}


<script>
const W = 32, H = 32;

document.querySelectorAll(".img-attn-visualizer").forEach(function(element) {
  element.addEventListener('mousemove', function (event) {
    const box = element.getBoundingClientRect();
    const x = Math.floor((event.clientX - box.left) / box.width * W);
    const y = Math.floor((event.clientY - box.top) / box.width * H);
    element.scrollLeft = box.width * (H * y + x + 1);
  });

  element.addEventListener('mouseleave', function (event) {
    element.scrollLeft = 0;
  });
});
</script>
